{{ partial "header.html" . }}
<body class="home-template">

    <!-- The big featured header on the homepage, with the site logo and description -->
    <header id="site-head" {{ if .Site.Params.cover }}style="background-image: url({{ .Site.Params.cover }})"{{ end }}>
        <div class="vertical">
            <div id="site-head-content" class="inner">

                {{ if .Site.Params.logo }} <a id="blog-logo" href="{{ .Site.BaseURL }}"><img src="{{ .Site.Params.logo }}" alt="Blog Logo" /></a>{{ end }}
                <h1 class="blog-title">{{ .Site.Title}}</h1>
                {{ if .Site.Params.description }}<h2 class="blog-description">{{ .Site.Params.description }}</h2> {{ else  }}
                <h2 class="blog-description">Workgroup about applications of deep learning</h2>
                {{ end }}

                <a class='btn first'>News</a>
                <a class='btn sec1'>Quickstart</a>
                <a class='btn sec2'>Publications</a>
                <a class='btn sec3'>Advanced material</a>
                <a class='btn last'>About</a><br>
                <i id='header-arrow' class="fa fa-angle-down"></i>
            </div>
        </div>
    {{ template "_internal/google_analytics.html" . }}
    </header>

    <main class="content" role="main">
    <div class='fixed-nav'>
    </div>
        {{ range .Data.Pages.ByWeight }}
                {{ if eq .Type  "post" }}
                    {{ .Render "post"}}
                {{ end }}
        {{ end }}

</main>
    {{ partial "footer.html" .}}

    {{ partial "script.html" .}}


</body>
</html>
