<table id="pubTable" class="display"></table>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script type="text/javascript" src="bib-list-min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
    bibtexify("/ourpubs.bib", "pubTable", {'visualization': false});
    });
</script>

